<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quantum Strings</title>
    <link rel="stylesheet" href="/styles/content.css">
    <link rel="stylesheet" href="/styles/layout.css">
</head>
<body>
    <header id="header">
        <div class="header__logo">
            <h1>QuantumStrings</h1>
            <p>Tecendo o Universo Digital</p>
        </div>
        <div class="header__search">
            <input type="text" placeholder="Search...">
        </div>
        <nav class="header__menu">
            <a href="#">Home</a>
            <a href="#">Artigos</a>
            <a href="#">Criar Artigo</a>
            <a href="#">Minha Conta</a>
        </nav>
    </header>