<%- include("partials/header.ejs") %>
    <main>
        <section class="banner">
            <h2>Explorando o Absurdo da Inteligência Artificial</h2>
            <p>De carros autônomos a chatbots</p>
        </section>
        <section class="posts">
            <div class="posts__promoted">
                <div class="posts__promoted-desc">
                    <h3>Viagem no Tempo</h3>
                    <p>Já se perguntou o que aconteceria se você pudesse voltar no tempo? Bem, digamos que nem tudo são
                        arco-íris e unicórnios. Prepare-se para uma jornada através de percalços nas viagens no tempo e
                        travessuras históricas.</p>
                    <p>Abril 20 2024 - 132 Visualizações</p>
                    <p>Leia Mais</p>
                </div>
                <img src="/images/viagem no tempo.png" alt="" class="posts__promoted-img">
            </div>
            <div class="posts__latest">
                <div class="posts__latest-post">
                    <img src="/images/carros e robos.png" class="post__img" alt="">
                    <div class="post__desc">
                        <h4>Carros e Robôs Voadores</h4>
                        <p>O que o futuro reserva para a humanidade? Estaremos vivendo em um mundo de carros voadores e
                            mordomos robóticos? Ou estaremos presos em um pesadelo distópico de nossa própria criação?
                        </p>
                        <p>Abril 20 2024 - 132 Visualizações</p>
                        <p>Leia Mais</p>
                    </div>
                </div>
                <div class="posts__latest-post">
                    <img src="/images/carros e robos.png" class="post__img" alt="">
                    <div class="post__desc">
                        <h4>Carros e Robôs Voadores</h4>
                        <p>O que o futuro reserva para a humanidade? Estaremos vivendo em um mundo de carros voadores e
                            mordomos robóticos? Ou estaremos presos em um pesadelo distópico de nossa própria criação?
                        </p>
                        <p>Abril 20 2024 - 132 Visualizações</p>
                        <p>Leia Mais</p>
                    </div>
                </div>
                <div class="posts__latest-post">
                    <img src="/images/carros e robos.png" class="post__img" alt="">
                    <div class="post__desc">
                        <h4>Carros e Robôs Voadores</h4>
                        <p>O que o futuro reserva para a humanidade? Estaremos vivendo em um mundo de carros voadores e
                            mordomos robóticos? Ou estaremos presos em um pesadelo distópico de nossa própria criação?
                        </p>
                        <p>Abril 20 2024 - 132 Visualizações</p>
                        <p>Leia Mais</p>
                    </div>
                </div>
            </div>
            <a href="/post">Criar Artigo</a>
            <div class="posts__mostviewed">
                <div class="posts__mostviewed-desc">
                    <p>158 Visualizações</p>
                    <h3>Peripécias da Ficção Científica</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page
                        when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution...</p>
                    <p>Maio 20</p>
                    <p>Leia Mais</p>
                </div>
                <img src="/images/ficcao cientifica.png" alt="" class="posts__mostviewed-img">
            </div>
            <button class="button">
                Mais Posts
            </button>
        </section>
    </main>
    <%- include("partials/footer.ejs") %>