.posts {
    max-width: 80%;
    margin: auto;
}

.posts p {
    color: #718096;
}

.posts h3 {
    font-size: 30px;
}
.posts__promoted {
    display: flex;
    margin: 40px 0;

    border: 1px solid #E2E2E2;
    border-radius: 5px 0 0 5px;
}

.posts__promoted-desc {
    padding: 40px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
}

.posts__promoted-desc h3 {
    margin-bottom: 40px;
}

.posts__promoted-desc p:nth-of-type(1) {
    margin-bottom: 10px;
    font-size: 14px;
}

.posts__promoted-footer {
    display: flex;
    justify-content: space-between;
}

.posts__promoted-footer {
    font-size: 12px;
}

.posts__promoted-footer p:nth-child(2){
    font-weight: 900;
    color: #051026;
}

.posts__latest {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 30px;
}

.posts__latest-post {
    width: 300px;
    border: 1px solid #E2E2E2;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
}

.post__img {
    width: 100%;
}

.post__desc {
    padding: 15px;
}

.post__desc p {
    font-size: 14;
}

.post__desc h4 {
    font-size: 20px;
    margin-bottom: 15px;
}

.post__desc-footer {
    margin-top: 5px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post__desc-footer p:nth-child(2){
    font-weight: 900;
}

.container__button {
    margin: 15px auto;
    min-height: min-content;
    display: flex;
    justify-content: center;
}

.article__button {
    display: block;
    width: max-content;
    background-color: #051026;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 5px;
}

.article__button:hover {
    opacity: 0.8;
}

.posts__mostviewed {
    display: flex;
    background-color: #F7FAFC;
}

.posts__mostviewed-article {
    padding: 30px;
}

.posts__mostviewed-views{
    margin-bottom: 55px;
    font-size: 12px;
}

.posts__mostviewed-desc {
    padding: 30px;
}

.posts__mostviewed-desc h3 {
    margin-bottom: 24px;
    font-size: 40px;
}

.posts__mostviewed-desc p {
    margin-bottom: 30px;
}

.posts__mostviewed-footer {
    display: flex;
    justify-content: space-between;
}

.posts__mostviewed-footer p:nth-child(2){
    font-weight: 900;
}

#button {
    border: none;
}

.container__more {
    margin: 15px auto;
    min-height: min-content;
    display: flex;
    justify-content: end;
}

@media screen and (max-width: 1200px) {
    .posts__promoted, .posts__mostviewed {
        flex-direction: column;
    }

    .posts__latest {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 800px) {
    .posts {
        max-width: 100%;
    }
    .posts__latest {
        grid-template-columns: 1fr;
    }
}