* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

a, h1, h3, h4, p {
    color: #051026;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

.header__logo {
    text-align: center;
    margin-left: 20px;
}

.header__logo p {
    font-weight: 500;
}

.header__search {
    display: flex;
    align-items: center ;
    gap: 5px;
}

.header__search input {
    border: none;
    font-size: 1rem;
    padding: 10px;
}

#menu {
    display: none;
}

#menu.menu-toggle {
    display: block;
}

.header__menu {
    display: flex;
    flex-direction: column;
}

.header__menu a {
    margin-left: 40px;
    color: #122A59;
}

.header__menu a:hover {
    opacity: 0.8;
}

.banner {
    background-color: #122A59;
    width: 100%;
    height: 467px;
    padding: 50px;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.banner h2 {
    color: #f2f2f2;
    font-size: 40px;
    margin-bottom: 20px;
}

.banner p {
    color: #ACD7F2;
    font-size: 18px;
}

footer {
    display: flex;
    justify-content: center;
}

span.material-symbols-outlined {
    display: inline-block;
    cursor: pointer;
}

#post {
    padding: 100px;
    background-color: #122A59;
    color: #fff;
}

#post h1 {
    color: #fff;
}

form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.post__button {
    border: none;
    background-color: #051026;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.post__button:hover {
    opacity: 0.8;
}

@media screen and (min-width: 1200px) {
    #header {
        flex-direction: row;
    }
}

@media screen and (min-width: 800px){
    .banner {
        padding: 150px;
    }
    .banner h2 {
        font-size: 60px;
        margin-bottom: 30px;
    }

    .banner p {
        font-size: 30px;
    }

    span.material-symbols-outlined {
        display: none;
    }
    
    #menu {
        display: block;
    }

    .header__menu {
        display: flex;
        flex-direction: row;
        margin-right: 20px;
    }
    textarea {
        width: 100%;
    }
}